<!DOCTYPE html>
<html layout:decorate="~{/layout/layout-not-login}">
<head>
<meta charset="UTF-8">
<title>Login</title>

<script th:inline="javascript">
$(function(){
	$("#btnLogin").click(function(){
		$("#frmLogin").submit();
	});

	const url = new URL(document.location.href);
	const urlParams = url.searchParams;
	if (urlParams.get("error")) {
		$("#error").show();
	}
});
</script>

</head>
<body>
	<th:block layout:fragment="content">
		<div class="card card-body my-5" style="margin: auto; width: 300px;">
			<form th:action="@{/login}" method="post" id="frmLogin">
				<div class="input-group mb-3">
					<label class="col-sm-3 col-form-label">아이디</label>
					<input class="form-control" type="text" name="username" id="username" value="ymyoo">
				</div>
				<div class="input-group mb-3">
					<label class="col-sm-3 col-form-label">비밀번호</label>
					<input class="form-control" type="password" name="password" id="password" value="1234">
				</div>
				<div class="text-center mt-3">
					<button type="button" id="btnLogin" class="btn btn-primary"><i class="fa fa-sign-in-alt"></i> 로그인</button>
				</div>
			</form>
			<p id="error" style="color: red; display: none;">아이디 또는 비밀번호가 일치하지 않습니다.</p>
		</div>
	</th:block>
</body>
</html>