<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<th:block th:replace="/layout/fragments/script :: scriptFragment" />
</head>
<body>
	<th:block th:replace="/layout/fragments/header :: headerFragment" />
	<div id="sample-container" class="row" style="min-height: 500px;">
		<div class="col-sm-auto p-0">
			<th:block th:replace="/layout/fragments/menu :: menuFragment" />
		</div>
		<div class="col-sm-auto" style="width: calc(100% - 240px);">
			<th:block layout:fragment="content" />
		</div>
	</div>
	<th:block th:replace="/layout/fragments/footer :: footerFragment" />
</body>
</html>